{% extends 'base.html' %}
{% block content %}

<h1>Slime Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ slime.name }}</span>
    <p>Breed: {{ slime.breed }}</p>
    <p>Description: {{ slime.description }}</p>
    {% if slime.age > 0 %}
      <p>Age: {{ slime.age }}</p>
    {% else %}
      <p>Age: Spore</p>
    {% endif %}
  </div>
  <div class="card-action">
    <a href="{% url 'slimes_update' slime.id %}">Edit</a>
    <a href="{% url 'slimes_delete' slime.id %}">Delete</a>
  </div>
</div>

{% endblock %}
