{% extends 'base.html' %}
{% block content %}

<h1>Slime List</h1>

{% for slime in slimes %}
  <div class="card">
    <a href="{% url 'detail' slime.id %}">
    <div class="card-content">
      <span class="card-title">{{ slime.name }}</span>
      <p>Breed: {{ slime.breed }}</p>
      <p>Description: {{ slime.description }}</p>
      {% if slime.age > 0 %}
        <p>Age: {{ slime.age }}</p>
      {% else %}
        <p>Age: Spore</p>
      {% endif %}
    </div>
    </a>
  </div>
{% endfor %}

{% endblock %}